
.titleStyle{
    font-size: 32px;
    color: black;
    text-align: center;
}

.containerTitleGuide{
    align-items: center;
    position: absolute;
    top: 60px;
    margin-right: 5%;
    right: 0;
    width: 80%;
}

.guideText{
    width: 80%;
    position: absolute;
    top: 60px;
}

.gridContainerVertLayout{
    background-color: #FFFFFF;
    margin-left: 0;
}

.gridContainer{
    width: 80%;  /* valore precedente: 70% o 100%*/
    height: 400px;
    margin-left: 5%;
    margin-top: 180px; /* valore precedente: 13% */
}

.btnUnderGrid{
    width: 60%;
    height: 10%;
    margin-top: 20px;
    background-color: #007d99;
    margin-left: 20%;
    color: #FFFFFF;
}

.changeUIContainerBtn{
    position: absolute;
    top: 68px;  /* allineato con titleLabel */
    left: 88%;
}

.changeUIBtnStyle{
    background-color: #0000;
    color: black;
    margin: 0;
    font-size: 24px;
}

.changeUIIcon{
    margin-left: 0;
    margin-top: 8px;
}

/* Dialog settings style */
.titleDialog{
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.dialogLabel1{
    font-size: 16px;
    margin-top: 6px;
}

.dialogLabel2{
    font-size: 16px;
    margin-top: 8px;
}

.btnContainerDialog{
    align-self: center;
    margin-top: 16px;
}

.guideTxtStyle{
    width: 100%;
    font-size: 18px;
    word-wrap: break-word;
    text-align: left;
}