
/* Style presente anche nel file 'style.css' */
/* GuessUI - NavBar */
.navBarHorizontal{
    position: absolute;
    margin: 0;
}

.nameGameTitle{
    font-size: 48px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
}

/* GuessUI */
.buttonUserGuess{
    color: black;
    background-color: transparent;
    --lumo-button-size: null;
    margin-right: 50px;
    margin-left: 20px;
}
.buttonUserGuess span{
    position: absolute;
    left: 60px;
    top: 15px;
}

.containerParoleVotate{
    width: 400px;
    height: 400px;
    min-height: 250px;
    overflow-y: scroll;
}

.containerParoleVotateTeacher{
    width: 400px;
    height: 400px;
    min-height: 250px;
    overflow-y: scroll;
}

.nameUserAndInfoBtnContainer{
    position: absolute;
    top: 10%;
    left: 20%;
}

.btnInfoGuess{
    background-color: #007d99;
    margin-top: 16px;
    margin-left: 36px;
    cursor : pointer;
    color : white;
}

.showSelectsFieldGruppiForTeacherContainer{
    margin-top: 16px;
    position: absolute;
    top: 60px;
}

.imgUserProfile{
    width: 50px;
    height: 50px;
    border-radius: 80px;
}

.layoutUsers{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
}

.containerRoom{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.indiziContainer{
    align-items: center;
    width: 100%;
    min-width: 400px;
    margin-top: 205px; /*valore precedente con timerbar: 160px */
    margin-left: 60px;
}

.indiziContainerTeacher{
    align-items: center;
    width: 100%;
    min-width: 300px;
    margin-top: 205px; /*valore precedente con timerbar: 160px */
    margin-left: 60px;
}

.divContainerIndizio{
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
}

.pIndizio{
    width: 100%;
    text-align: center;
    color: white;
    padding-left: 6px;
    font-size: 16px;
    padding-right: 6px;
    word-break: break-word;
}

/* StartGameUI*/
.paroleVotateMainContainerVert{
    width: 400px;
    min-width: 400px;
    margin-top: 205px;
}

.paroleVotateMainContainerVertTeacher{
    width: 300px;
    min-width: 300px;
    margin-top: 205px;
    margin-left: 30px;
}

.suggerisciParolaMainContainerVert{
    width: 400px;
    min-width: 400px;
    margin-top: 205px;
    align-items: center;
}

.suggerisciParolaMainContainerVertTeacher{
    width: 350px;
    min-width: 350px;
    margin-top: 205px;
    align-items: center;
    margin-left: 30px;
}

.labelSuggerisci{
    font-size: 30px; /*valore precedente: 20px */
    width: 100%;
    text-align: center;
}

.suggerisciParolaLayout{
    background-color:transparent;
    width: 100%;
    align-items: center;
}

.suggerisciParolaLayoutTeacher{
    background-color:transparent;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    align-items: center;
}
.divMessageListParolaVotata{
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.parolevotatelabel{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.labelParolaSuggerita{
    margin-top: 8px;
    font-size: 18px;
}

.btnPlus{
    width: 32px;
    background-color: #007d99;
    border-radius: 0.5rem;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}

.paroleSuggeriteContainer{
    width: 100%;
    height: 350px;
    min-height: 200px;
    overflow-y: scroll;
}

.secondiContainer{
    width: 100%;
    position: absolute;
    top: 140px;
    left: 80px;
}

.secondiContainerTeacher{
    width: 100%;
    position: absolute;
    top: 140px;
    left: 300px;
}

.buttonInfoStyleNavBar{
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

.timeBarStyle{
    width: 200px;
    margin-top: 14px;
}