
/* Style presente anche nel file 'style.css' */
/* GuessUI - NavBar */
.navBarHorizontal{
    position: absolute;
    margin: 0;
}

.buttonChatStyleNavBar{
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

/* GuessUI */
.buttonUserGuess{
    color: black;
    background-color: transparent;
    --lumo-button-size: null;
    margin-right: 50px;
    margin-left: 20px;
}
.buttonUserGuess span{
    position: absolute;
    left: 60px;
    top: 15px;
}

.buttonSendChat{
    height: 40px;
    width: 50px;
    cursor: pointer;
    color: black;
    background-color: #2d93ac;
    --lumo-button-size: null;
    margin-top: 0px; /* valore precedente: 15px*/
    border-radius: 30px;
    margin-left: 9px;
}

.chatlayoutmessage2{
    width: 100%;  /* valore precedente: 500px*/
    height: 250px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.containerParoleVotate{
    position: absolute;
    left: 300px;
    top: 230px;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
}

.containerParoleVotateTeacher{
    position: absolute;
    left: 300px;
    top: 30%;
    width: 15%;
    height: 150px;
    overflow-y: scroll;
}

.nameUserAndInfoBtnContainer{
    position: absolute;
    top: 10%;
    left: 20%;
}

.btnInfoGuess{
    background-color: #007d99;
    margin-top: 16px;
    margin-left: 36px;
    cursor : pointer;
    color : white;
}

.showSelectsFieldGruppiForTeacherContainer{
    margin-top: 16px;
    position: absolute;
    top: 60px;
}

.imgUserProfile{
    width: 50px;
    height: 50px;
    border-radius: 80px;
}

.layoutUsers{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
}

.containerRoom{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* StartGameUI*/
.horizontalLayoutStartGameUI{
    position: absolute;
    left: 550px;
    top: 230px;   /*  valore precedente: 230px */
}

.labelSuggerisci{
    position: absolute;
    left: 550px;
    top: 180px; /* valore precedente: 150px */
    font-size: 20px;
}

.suggerisciParolaLayout{
    width: 250px;
    overflow-y: scroll;
    position: absolute;
    top: 60px;
    left: 40px;
    background-color:transparent;
}

.suggerisciParolaLayoutTeacher{
    width: 350px;
    position: absolute;
    top: 30px;
    left: 40px;
    background-color:transparent;
    margin-left: 0;
    padding-left: 0;
    overflow-y: scroll;
}

.parolevotatelabel{
    font-size: 20px;
    position: absolute;
    left: 315px;
    top: 180px;  /*  valore precedente: 150px */
}

.labelParolaSuggerita{
    margin-top: 8px;
}

.btnPlus{
    background-color: #007d99;
    border-radius: 30px 10px 30px 40px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}