/* Style presente anche nel file 'style.css' */
/* MatyUI */
.navBarHorizontal{
    position: absolute;
    margin: 0;
}

.showSelectsFieldGruppiForTeacherContainer{
    margin-top: 16px;
    position: absolute;
    top: 60px;
}


/* StartGameMatyUI Style */
.labelSuggerisci{
    position: absolute;
    left: 550px;
    top: 180px; /* valore precedente: 150px */
    font-size: 20px;
}

.suggerisciParolaLayout{
    overflow-y: scroll;
    position: absolute;
    top: 60px;
    left: 40px;
    background-color:transparent;
}

.suggerisciParolaLayoutTeacher{
    overflow-y: scroll;
    position: absolute;
    top: 60px;
    left: 40px;
    background-color:transparent;
}

.horizontalLayoutStartGameUI{
    position: absolute;
    left: 550px;
    top: 230px;   /*  valore precedente: 230px */
}

.parolevotatelabel{
    font-size: 20px;
    position: absolute;
    left: 315px;
    top: 180px;  /*  valore precedente: 150px */
}

.labelNumSottrarre{
    position: absolute;
    top: 120px;   /*  valore precedente: 120px */
    left: 315px;
    font-size: 24px;
}

.containerAddendi{
    width: 200px;
    /*height: 100px;*/
    position: absolute;
    top: 200px;
    left: 300px;
}

.addendiLabel{
    border: 3px solid;
    width: 40px;
    height: 30px;
    margin: 0px;
}

.parag{
    margin: 2px;
}

.containerNumeriSS{
    position: absolute;
    left: 316px;
    top: 230px;
    font-size: 20px;
}

.cronologiaNumeri{
    width: 100%;
    height: 180px; /* valore precedente: 300px */
    overflow-y: scroll;
    overflow-x: scroll;
    position: absolute;
    top: 190px;
    left: -55px;
    background-color: transparent;
    margin-top: 10px;
}

.cronologiaNumeriTeacher{
    width: 100%;
    height: 180px; /* valore precedente: 300px */
    overflow-y: scroll;
    overflow-x: scroll;
    position: absolute;
    top: 190px;
    left: -55px;
    background-color: transparent;
    margin-top: 10px;
}

.cronologiaMosse{
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: -70px;
}

.labelCronologia{
    background-color: #2d93ac;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 5px #999;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    outline: none;
}