/* Style presente anche nel file 'style.css' */
/* MatyUI */
.navBarHorizontal{
    width: 100%;
    height: 70px;
    margin: 0;
}

.showSelectsFieldGruppiForTeacherContainer{
    margin-top: 16px;
    position: absolute;
    top: 60px;
}


/* StartGameMatyUI Style */
.labelOperazione{
    font-size: 24px; /* valore precedente: 30px */
}

.numeroInseritoVL{
    background-color:transparent;
}

.numeroInseritoVLTeacher{
    background-color:transparent;
}

.numeroInseritolabel{
    font-size: 24px;
}

.labelQuesito{
    font-size: 26px;
}

.containerAddendi{
    width: 200px;
    /*height: 100px;*/
    position: absolute;
    top: 200px;
    left: 300px;
}

.addendiLabel{
    border: 3px solid;
    width: 40px;
    height: 30px;
    margin: 0px;
}

.parag{
    margin: 2px;
}

.containerNumeriSS{
    position: absolute;
    left: 316px;
    top: 230px;
    font-size: 20px;
}

.cronologiaNumeri{
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
}

.cronologiaNumeriTeacher{
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
}

.cronologiaMosse{
    font-size: 24px;
}

.labelCronologia{
    background-color: #2d93ac;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 5px #999;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    outline: none;
}

/* New style for Maty */
.mainUIGameVL{
    margin-left: 64px;
}

.mainUIGameVLTeacher{
    margin-left: 64px;
    margin-top: 70px;
}

.nameGameTitle{
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.aiutiLabelStyle{
    font-size: 18px; /* valore precedente: 24px */
}

.interactionContainerStyle{
    width: 400px;
    min-width: 400px;
    align-items: center;
}

.eliminaBtnStyle{
    align-self: center;
}